*.elf
*.out
*.a
*.bin
*.der
*.pem
*.cer

!apps/bufferoverflow/src/*

__pycache__/
*.pyc

.vs/
.vscode/
.idea/
apps/bufferoverflow/src/success/libtom*
apps/bufferoverflow/results/
apps/bufferoverflow/out/
apps/bufferoverflow/test/crsa/libtom*

.venv/
.env