*.elf
*.out
*.a
*.bin
*.der
*.pem
*.cer
*.crt

!apps/bufferoverflow/src/*

__pycache__/
*.pyc

.vs/
.vscode/
.idea/
apps/bufferoverflow/src/success/libtom*
apps/bufferoverflow/results/
apps/bufferoverflow/out/
apps/bufferoverflow/test/crsa/libtom*

apps/certsign/owners/owner_info.txt

.venv/
.env